.nav {
  height: 80px;
  overflow: hidden;
  transition: 0.25s ease-in-out;
  position: absolute;
  background-color: white;
}

.nav:hover {
  height: 250px;
  cursor: pointer;
}

.nav .navContainer {
  height: 80px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}
.nav .navContainer .active {
  background-color: #e118a9;
  color: white;
}

.nav .navContainer .none {
  background-color: none;
}

.nav .navContainer li {
  width: 180px;
  height: 60px;
  list-style-type: none;
  font-size: 19px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .navContainer li p {
  margin: 0;
}

.nav .detailMenu {
  display: flex;
  overflow: hidden;
}

.nav .detailMenu .active {
  background-color: #e6e6e6;
}

.nav .detailMenu ul {
  width: 180px;
  margin: auto;
  justify-content: space-around;
  padding: 0;
}

.nav .detailMenu ul li {
  text-align: center;
  list-style-type: none;
  margin-bottom: 10px;
  font-weight: 600;
}
.nav .detailMenu ul li:hover {
  cursor: pointer;
  color: #e118a9;
}
